<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="{{ asset('images/about-left-image.png') }}" alt="person graphic">
                </div>
            </div>
            <div class="col-lg-8 align-self-center aos-item"  data-aos="fade-in" data-aos="fade-in">
                <div class="services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                    <img src="{{ asset('images/service-icon-01.png') }}" alt="reporting">
                                </div>
                                <div class="right-text">
                                    <h4>Service 1</h4>
                                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                                <div class="icon">
                                    <img src="{{ asset('images/service-icon-02.png') }}" alt="">
                                </div>
                                <div class="right-text">
                                    <h4>Service 2</h4>
                                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                                <div class="icon">
                                    <img src="{{ asset('images/service-icon-03.png') }}" alt="">
                                </div>
                                <div class="right-text">
                                    <h4>Service 3</h4>
                                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                                <div class="icon">
                                    <img src="{{ asset('images/service-icon-04.png') }}" alt="">
                                </div>
                                <div class="right-text">
                                    <h4>Service 4</h4>
                                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>