{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    {% include 'home/welcome.html.twig' %}
    {% include 'home/about.html.twig' %}
    {% include 'home/our-services.html.twig' %}
    {% include 'home/portfolio.html.twig' %}
    {% include 'home/blog.html.twig' %}
    {% include 'home/contact.html.twig' %}












{% endblock %}